#about {
  text-align: center;
  padding: 20rem;
}

.about__title {
  font-size: 3rem;
  margin-bottom: 7rem;
}

.about__description {
  font-size: 1.7rem;
  line-height: 4.3rem;
  letter-spacing: .28rem;
}