@import './constants.scss';

#cards {
  display: flex;
  text-align: center;
  gap: 3rem;
  background-color: $white;
}

.card__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  row-gap: 2rem;
  width: 100%;
}

.concept__card {
  background-color: $dark-grey;
  border: .35rem solid $blue;
  border-radius: 1.5rem;
  color: $white;
  font-weight: bold;
  margin: 0 auto;
  padding: 3rem;
  width: 80%;
}

.card__translation {
  margin: 5rem auto;
}

.card__label {
  font-size: 1.8rem;
}

.card__content {
  font-size: 1.2em;
  line-height: 2rem;
  letter-spacing: .2rem;
}

.related__concepts-item {
  list-style: none;
  text-align: center;
  margin: .5rem auto;
  margin-right: 2rem;
}