@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

// Color Palette
$white: #fff;
$dark-grey:#4E5069;
$dark-blue: #042e59;
$blue: #1881FC;
$text: #0F1125;

// Fonts
$font: 'Open Sans', sans-serif;